h1 {
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-header img {
    height: 40px;
}
.nav-menu, .user-log {
    display: flex;
    gap: 30px;
}
.nav-menu a, .user-log a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-menu a:hover, .user-log a:hover{
    color: #ff4500;
}
.button-s {
    background-color: red;
    border: none;
    border-radius: 99px;
    padding: 8px 15px;
    align-self: center;
}
.button-s:hover {
    background-color: #ff4500;
}
#hamburger, #hamburger-menu {
    display: none;
}
@media (max-width: 768px) {
    .nav-menu, .user-log {
    display: none;
    }
   #hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

#hamburger-menu {
  display: none;
  flex-direction: column;
  background: #121212;
  padding: 10px;
}

#hamburger-menu a {
  padding: 8px 25px;
  text-decoration: none;
  color: white;
}

#hamburger-menu a:hover {
  color: #ff4500;
}

#hamburger-menu.active {
  display: flex;
  flex-direction: column;
  background: #121212;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1;
  border: 1px solid white;
  border-radius: 10px;
}
}