#products-placeholder .product {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    gap: 40px;
}
#products-placeholder .product img {
    height: 400px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider-container button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 40px 40px 40px 0px;
}

.slide {
    min-width: 20%;
    box-sizing: border-box;
    padding: 10px;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide.selected {
    transform: scale(1.5);
    z-index: 2;
    transition: transform 0.5s;
}
@media (max-width: 768px) {
    #products-placeholder .product {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        gap: 20px;
    }
    #products-placeholder .product img {
        height: auto;
        width: 100%;
    }
    .slide.selected {
        transform: scale(1.2);
    }
    .single-product-container {
        order: 2;
    }
    .single-product-details {
        order: 1;
    }
}