#products-placeholder .product {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    gap: 40px;
}
#products-placeholder .product img {
    height: 400px;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 20%;
    box-sizing: border-box;
    padding: 10px;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide.selected {
    border: 2px solid blue;
    transform: scale(1.2);
}
